doctype html
html(class="no-js", lang="ru")

	include ../components/head/head
	include ../components/header/header
	include ../components/footer/footer
	
	include ../components/mainBlock/mainBlock
	include ../components/offer/offer
	include ../components/whyus/whyus
	include ../components/trust/trust
	include ../components/callToAction/callToAction
	include ../components/partners/partners
	include ../components/reviews/reviews
	include ../components/howtowork/howtowork
	include ../components/contacts/contacts

	include ../components/popup/popup
	
	head
		+head(head.defaults)
	body
		div#page.page.page_hidden
			+header(header)				

			div.content
				+mainBlock(mainBlock)
				+offer(offer)
				+whyus(whyus)
				+trust(trust)
				+callToAction(callToAction, 1)
				+partners(partners)
				+reviews(reviews)
				+howtowork(howtowork)
				+callToAction(callToAction, 2)
				+contacts(contacts)
      
			+popup(popup)


			+footer(footer)

		div.preloader#preloader

		div.informationPopup.informationPopup__hidden#informationPopup Ваша заявка отправлена. Ожидайте ответа нашего менеджера

	//- script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
	script(src='%=static=%js/separate-js/jquery-3.1.1.js')
	script(src='%=static=%js/separate-js/svg4everybody.min.js')
	script svg4everybody();

	script(src='%=static=%js/main%=hash=%%=min=%.js')
