// Common styles of the project

html {
  font-size 16px
}

body {
  font-family $mainFont
  font-weight 300
  color $textColor
  line-height 1.5
}

* {
  box-sizing border-box
  
  &:focus {
    outline none
  }
}

img {
  max-width 100%
  max-height 100%
  vertical-align middle
}

a {
  text-decoration none
}

h1,
h2,
h3,
h4,
h5,
p {
  margin 0 0 $margin
}

h1 {
  font-size remify(46px)
  font-weight 700
  text-transform uppercase
}

input {
  height remify(42px)
  padding 0 1rem
  font-size 1rem
  line-height remify(37px)
  color $textColor
  border 1px solid #a7a7a7
  transition 0.3s
  background-color #fff
  
  &:focus {
    border-color $textColor
  }

  &::-webkit-input-placeholder {color: #a7a7a7; transition: 0.3s;}
  &::-moz-placeholder          {color: #a7a7a7; transition: 0.3s;}
  &:-moz-placeholder           {color: #a7a7a7; transition: 0.3s;}
  &:-ms-input-placeholder      {color: #a7a7a7; transition: 0.3s;}
  &:focus::-webkit-input-placeholder {color: transparent;}
  &:focus::-moz-placeholder          {color: transparent;}
  &:focus:-moz-placeholder           {color: transparent;}
  &:focus:-ms-input-placeholder      {color: transparent;}
}

.preloader {
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  background-image url('__static__content/preloader.svg')
  background-repeat no-repeat
  background-size 4rem
  background-position center
  transition 1s
  pointer-events none
  
  &_hidden {
    opacity 0
    background-image none
  }
}

.page {
  width 100%
  max-width 1920px
  margin 0 auto
  position relative
  transition 1s
  opacity 1

  &_hidden {
    opacity 0    
  }
}

.container {
  width $containerWidth
  margin 0 auto
  height 100%
  position relative
}

.informationPopup {
  height remify(95px)
  top 0
  left 0
  width 100%
  transition 0.6s
  background-color $mainColor
  color #fff
  font-size 1.3rem
  text-align center
  line-height 4.8rem
  position fixed
  z-index 9
  display flex
  align-items center
  justify-content center

  &__hidden {
    top remify(-95px)
  }
}

.form {
  font-size 0

  &__label {
    display block
    width 100%
    font-size 1rem
    margin-bottom $margin * 2
    
    &:last-child {
      margin-bottom 0
    }
  }
  
  &__field {
    width 100%
    display block
    font-size remify(12px)
  }
  
  &__submit {
    height remify(42px)
    width 100%
    padding 0
  }
  
  &_vertical {
    
    .form__label {
      display inline-block
      vertical-align middle
      width auto
      margin-bottom 0
      
      &:last-child {
        margin-right 0
      }
    }
  }
  
  &.invalid {
    input {
      border-color $mainColor

      &::-webkit-input-placeholder {color: $mainColor;}
      &::-moz-placeholder          {color: $mainColor;}
      &:-moz-placeholder           {color: $mainColor;}
      &:-ms-input-placeholder      {color: $mainColor;}
      &:not(.form__field_phone):focus::-webkit-input-placeholder {color: transparent;}
      &:not(.form__field_phone):focus::-moz-placeholder          {color: transparent;}
      &:not(.form__field_phone):focus:-moz-placeholder           {color: transparent;}
      &:not(.form__field_phone):focus:-ms-input-placeholder      {color: transparent;}
    }
  }
}
