@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProBlack/GothamProBlack.eot');
  src: url('../fonts/GothamPro/GothamProBlack/GothamProBlack.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamPro/GothamProBlack/GothamProBlack.woff') format('woff'),
       url('../fonts/GothamPro/GothamProBlack/GothamProBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProBold/GothamProBold.eot');
  src: url('../fonts/GothamPro/GothamProBold/GothamProBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamPro/GothamProBold/GothamProBold.woff') format('woff'),
       url('../fonts/GothamPro/GothamProBold/GothamProBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProMedium/GothamProMedium.eot');
  src: url('../fonts/GothamPro/GothamProMedium/GothamProMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamPro/GothamProMedium/GothamProMedium.woff') format('woff'),
       url('../fonts/GothamPro/GothamProMedium/GothamProMedium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProRegular/GothamProRegular.eot');
  src: url('../fonts/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamPro/GothamProRegular/GothamProRegular.woff') format('woff'),
       url('../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProLight/GothamProLight.eot');
  src: url('../fonts/GothamPro/GothamProLight/GothamProLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamPro/GothamProLight/GothamProLight.woff') format('woff'),
       url('../fonts/GothamPro/GothamProLight/GothamProLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

$mainFont = 'GothamPro';