// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.button {
  background-color $mainColor
  color #fff
  padding 0.7rem 1.9rem
  border 0
  transition 0.3s
  cursor pointer
  text-transform uppercase
  letter-spacing 1px
  font-size remify(12px)
  font-weight 400
  white-space nowrap
  
  &:hover {
    background-color $mainHoverColor
  }
}

.subtitle {
  font-weight 400
  font-size remify(36px)
  text-transform uppercase
  color #404041
  text-align center
  display block
  padding remify(58px) 0
}

.zoom {
  position relative

  &:after {
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-image url('/static/images/content/zoom.png')
    background-repeat no-repeat
    background-size remify(62px)
    background-position center
    transition 0.5s
    opacity 0
    background-color $mainColor
    pointer-events none
  }

  &:hover:after {
    opacity 1
  } 
}

.block {
  padding-bottom remify(80px)
}
