.offer {
  
  &List {
    display block
    padding 0
    
    &__item {
      display block
      font-weight 100
    }
    
    &Box {
      font-size 0

      &__item {
        font-size 1rem
        display inline-block
        vertical-align top
        width 48%

        &:first-of-type {
          margin-right 4%
        }
      }
    
      h4 {
        font-size remify(20px)
        text-transform uppercase
        color #404041
        margin-bottom ($margin * 2.5)
        line-height 1
        font-weight 400
      }
        
      &__headText {
        margin-bottom ($margin * 2.5)
      }
      
      &__block {
        margin-bottom ($margin * 2.5)
      }
      
      &__name {
        font-weight 400
        margin-right $margin
      }
      
      &__wrapButton {
        padding 1.2rem 0
        margin-top ($margin * 4)
      }
      
      &__button {
        font-size remify(14px)
        letter-spacing 3px
        padding 1.2rem 4.1rem
      }
    }
    
    &Gallary {
      font-size 0

      &__mainPhoto {
        width 100%
        display block
        margin-bottom $margin
      }
      
      &__bottom {
      
      }
      
      &__small {
        width 31%
        margin-right 3.5%
        font-size 1rem
        vertical-align middle
        display inline-block
        margin-bottom $margin
        
        &:nth-of-type(3n) {
          margin-right 0
        }
      }
    }
  }
}