mixin offer(data)
  div.offer.block#offer
    div.container
      h2.subtitle Лучшие предложения

      ul.offerList.owl
        each item in [1, 2, 3, 4]
          li.offerList__item
            div.offerListBox
              div.offerListBox__item
                div.offerListGallary
                  a.offerListGallary__mainPhoto.fancybox.zoom(href='/static/images/assets/offer/big.jpg')
                    img(src='/static/images/assets/offer/big.jpg')
                  
                  div.offerListGallary__bottom
                    each i in [1, 2, 3, 4, 5]
                      a.offerListGallary__small.fancybox.zoom(href='/static/images/assets/offer/small.jpg' rel='gallary-#{i}')
                        img(src='/static/images/assets/offer/small.jpg') 
              div.offerListBox__item
                h4 Описание объекта:
                p.offerListBox__headText Продается участок под многоквартирное строительство
                div.offerListBox__block
                  p
                    span.offerListBox__name Район:
                    | ВОЕНВЕД - ул. Оганова

                div.offerListBox__block
                  p
                    span.offerListBox__name Общая прощадь:
                    | 3,1 Га. Заведены все коммуникации

                div.offerListBox__block
                  p
                    span.offerListBox__name Цена:
                    | 200 тыс. руб. за сотку

                div.offerListBox__block
                  p
                    span.offerListBox__name Кадастровый номер
                    | 61:44:3024342  

                p.offerListBox__addText Рассматриваются варианты рассчета как деньгами, так и квадратными метрами

                div.offerListBox__wrapButton
                  a.offerListBox__button.button.popup-fancy(href='#popup') Узнать больше

        