mixin footer(data)
  footer.footer
    div.container
      div.footer__item
        p &copy; 2016. ООО "Парус". Все права защищены 
      div.footer__item
        div.footerSocial
          a.footerSocial__link.footerSocial_vk(href='#')
          a.footerSocial__link.footerSocial_fb(href='#')
          a.footerSocial__link.footerSocial_inst(href='#')
          a.footerSocial__link.footerSocial_in(href='#')