mixin popup(data)
  div.popup#popup
    div.popup__inner
      h3 Оставьте заявку
      p и наш менеджер свяжется с Вами в ближайшее время

      form.form.popupForm(method='post')
        input(type='hidden' name='formName' value='popup')
        label.form__label
          input.form__field(type='text' placeholder='Ваше имя')
        label.form__label
          input.form__field.form__field_phone(type='text' placeholder='Введите номер телефона')
        div.form__label
          button.form__submit.button(type='submit') Оставить заявку