.popup {
  display none
  width remify(350px)
  padding 2rem 0 1rem
  
  &-wrap {
    .fancybox-skin {
      background-color #fff
    }
    
    .fancybox-close {
      top 1rem
      right 1rem
      width 1.5rem
      height 1.5rem
      border 1px solid #f2f3f4
      border-radius 2px
      background-image none
      transition 0.3s

      &:hover {
        border-color #b2b2b2
      }

      &:after,
      &:before {
        content ''
        position absolute
        top 0
        width 1px
        height 100%
        background-color #35464e
      }
      
      &:after {
        left 50%
        transform rotate(-45deg)
      }
      
      &:before {
        right 50%
        transform rotate(45deg)
      }
    }
  }
  
  &__inner {
    width 19rem
    margin 0 auto
  }
  
  h3 {
    font-size remify(25px)
    text-transform uppercase
    color $textColor
    display block
    text-align center
    margin-bottom $margin
    line-height 1
  }
  
  p {
    font-size remify(15px)
    line-height 1.4
    display block
    text-align center
    margin-bottom ($margin * 3)
    font-weight 300
  }
  
  .form {
    width 100%
    
    &__field {
      width 100%
      font-size remify(13px)
    }
    
    &__submit {
      display block
      width 100%
      font-size remify(14px)
    }
  }
}