mixin whyus(data)
  div.whyus.block#about
    div.container
      h2.subtitle Почему выбирают нас?

      div.whyusInfo
        div.whyusInfo__logo
          img(src='/static/images/assets/header/logo.png')
        div.whyusInfo__text
          p АН "Парус" - эксперты на рынке <br>коммерческой недвижимости

      div.whyusList
        div.whyusList__item
          div.whyusList__image
            img(src='/static/images/assets/whyus/house.png')
          span.whyusList__name 14 лет на рынке
          div.whyusList__text
            p Наша компания помогает клиентам продавать и покупать коммерческую недвижимость уже более 14 лет
            
        div.whyusList__item
          div.whyusList__image
            img(src='/static/images/assets/whyus/money.png')
          span.whyusList__name 3 млрд. инвестиций
          div.whyusList__text
            p Было привлечено в различные объекты недвижимости, в т.ч. земельные участки за всю историю деятельности
            
        div.whyusList__item
          div.whyusList__image
            img(src='/static/images/assets/whyus/obj.png')
          span.whyusList__name Земля от собственника
          div.whyusList__text
            p Мы работаем напрямую с собственником и имеем эксклюзивные контракты
            
        div.whyusList__item
          div.whyusList__image
            img(src='/static/images/assets/whyus/zemla.png')
          span.whyusList__name Более 3000 объектов
          div.whyusList__text
            p Продано с помощью нашего агентства за 14 лет
            
        div.whyusList__item
          div.whyusList__image
            img(src='/static/images/assets/whyus/agents.png')
          span.whyusList__name Опытные агенты
          div.whyusList__text
            p Наши агенты обладают более чем 10 летним опытом, что помогает им тонко "чувствовать" рынок и консультировать клиентов на самом высоком уровне
            
        div.whyusList__item
          div.whyusList__image
            img(src='/static/images/assets/whyus/office.png')
          span.whyusList__name Офис в центре
          div.whyusList__text
            p Наш офис находится в самом центре Ростова-на-Дону на пересечении Пушкинская/Ворошиловский в здании наших партнеров ФораБанк, которые могут регулировать сделку, предоставить "ячейку" для денежных средств, а также обеспечивают безопасность сделки всем сторонам