.whyus {
  background-color #f5f5f5
  text-align center
  
  .subtitle {
    padding-bottom 2rem
  }
  
  &Info {
    display inline-block

    &__logo {
      width remify(140px)
      height remify(75px)
      margin-right $margin * 5
      position relative
      
      &:after {
        content ''
        position absolute
        right -2rem
        width 3px
        background-color $mainColor
        height 80%
        top 10%
      }
    }
    
    &__text {
      font-weight 100
      font-size remify(24px)
      line-height 1.25
      
      p {
        margin-bottom 0
      }
    }
    
    &__logo,
    &__text {
      display inline-block
      vertical-align middle
    }
  }
  
  &List {
    font-size 0
    margin-top ($margin * 6)

    &__item {
      width 33.3333%
      font-size 1rem
      display inline-block
      vertical-align top
      padding 0 1.5rem
      font-weight 100
      margin-bottom ($margin * 6)
      position relative
      
      &:hover {
        .whyusList__image {
          animation whyus-anim 0.25s ease-in
        }
      }
    }
    
    &__image {
      position relative
      width 4.5rem
      display inline-block
      margin-bottom ($margin * 2)
      position relative
      
      &:after {
        content ''
        position absolute
        bottom remify(-20px)
        height 3px
        background-color $mainColor
        width 100%
        left 0
      }
    }
    
    &__name {
      font-weight 600
      margin-top ($margin * 1.5)
      display block
      text-transform uppercase
      margin-bottom $margin
    }
  }
}

@keyframes whyus-anim {
  0% {
    right 0  
  }
  
  25% {
    right -0.2rem
  }
  
  50% {
    right 0
  }
  
  75% {
    right 0.2rem
  }
  
  100% {
    right 0
  }
}