.footer {
  background-color #222
  font-size 0
  color #939393
  padding 1rem 0
  
  p {
    margin-bottom 0
  }

  &__item {
    font-size remify(13px)
    width 50%
    display inline-block
    vertical-align middle
    text-align right
    
    &:first-of-type {
      text-align left
    }
  }
  
  &Social {
    font-size 0
    
    &__link {
      font-size 1rem
      display inline-block
      vertical-align middle
      margin 0 ($margin * 1.5)
      background-repeat no-repeat
      transition 0.3s
      background-size 100% 100%
    }
    
    &_vk {
      width remify(18px)
      height remify(11px)
      background-image url('/static/images/content/vk.png')
      
      &:hover { 
        background-image url('/static/images/content/vk-hover.png')  
      }
    }
    
    &_fb {
      width remify(7px)
      height remify(15px)
      background-image url('/static/images/content/fb.png')
      
      &:hover { 
        background-image url('/static/images/content/fb-hover.png')  
      }
    }
    
    &_inst {
      width remify(15px)
      height remify(15px)
      background-image url('/static/images/content/inst.png')
      
      &:hover { 
        background-image url('/static/images/content/inst-hover.png')  
      }
    }
    
    &_in {
      width remify(16px)
      height remify(15px)
      background-image url('/static/images/content/in.png')
      
      &:hover { 
        background-image url('/static/images/content/in-hover.png')  
      }
    }
  }
}


@media (max-width 1280px) {
  html {
    font-size 15px
  }
  
  .page {
    width 100%
  }

  .container {
    width 90%
    margin 0 auto
  }
  
  .header {

    &Navigation {
      position fixed
      top 0
      left 150%
      width 100%
      bottom -5rem
      background-color #fff
      flex-direction column
      align-items center
      justify-content center
      z-index 99
      transition 1s ease-in-out
      
      &__item {
        display block
        text-align center
        margin 0 0 ($margin * 3)
        font-size 2.5rem
      }
  
      &Close {
        display block
      }
      
      &__opened {
        left 0
      }
    }
    
    .form {
      display none
    }
    
    &_right {
      display none
    }

    &Button {
      display block
    }
  }
  
  .howtowork {

    &List {
      display block
      text-align center
      width 22rem
      margin 0 auto
      
      &__item {
        display block
        margin 0 auto
        margin-bottom 4rem
        
        &:last-of-type {
          margin-bottom 0
        }
        
        &:nth-of-type(2n + 1) {
          margin-left 0
          
          &:after {
            top 133%
            transform rotate(40deg)
            left 78%
          }
        }
        
        &:nth-of-type(2n) {
          margin-right 0
          
          &:after {
            right 73%
            top 140%
            transform rotate(140deg)
          }
        }
      }
    }
  }
  
  .owl-carousel {
    width 80%
  }
  
  .offer {

    &List {
      // width 90%
      // margin 0 auto
    }
  }
}

@media (max-width 1024px) {
  .reviewsList {

    &__item {
      &:nth-of-type(2) {
        margin-right 0
      }
      
      &:last-of-type {
        display block
        margin-top ($margin * 7)
      }
    }
  }
}

@media (max-width 960px) {
  .callToAction {

    .form {

      &__label {
        
        &:nth-of-type(3) {
          margin-right 0
        }

        &:last-child {
          margin-top ($margin * 3)
          display block
        }
      }
    }
  }  
}

@media (max-width 768px) {
  html {
    font-size 13px
  }
  
  .whyus {

    &List__item {
      width 50%
    }
  }
  
  .popup-wrap {
    top 0 !important
    left 0 !important
    width 100% !important
    height 100% !important
    
    .fancybox-skin {
      background-color #fff !important
      height 100% !important
      border-radius 0 !important
    }
    
    .fancybox-outer {
      height 100%
    }
    
    .fancybox-inner {
      height 100% !important
      width 100% !important
      display flex
      justify-content center
      align-items center
    }
    
    .popup {
      width 100%
      
      &__inner {
        width 100%
        max-width 24rem
        
        h3 {
          font-size 2rem
        }
        
        p {
          font-size 1.2rem
        }
      }
    }
    
    .fancybox-close {
      border 0
      width 3rem
      height 3rem
      
      &:after {
        left 1.4rem
        right auto
      }
      
      &:before {
        left 1.4rem
        right auto
      }
    }
  }
  
  .reviewsList {

    &__item {
      display block
      margin 0 auto ($margin * 7)
      
      &:last-of-type {
        margin-top 0
      }
    }
  }
  
  .offer {

    &List {

      &Box {
        width 80%
        margin 0 auto

        &__item {
          display block
          width 100%

          &:first-of-type {
            margin-right 0
            margin-bottom 2rem
          }
        }
      }
    }
  }
}

@media (max-width 640px) {
  html {
    font-size 11px
  }
  
  .whyus {

    &List__item {
      width 70%
    }
  }

  .callToAction {
    height auto
    padding 2rem 0

    .form {

      &__label {
        display block
        margin 0 auto ($margin * 2)
        
        &:last-child {
          margin-top 0
        }
      }
    }
  }
  
  .contacts {

    &__item {
      width 70%
      margin 0 auto
      display block
    }
    
    &Callback {
      text-align center
      margin-top ($margin * 3)
    }
  }
}

@media (max-width 480px) {
  html {
    font-size 11px
  }
  
  .mainBlock {
    text-align center
    
    .container {
      align-items center
    }
    
    .button {
      font-size 0.8rem
    }
  }
    
  .offerListBox__button {
    display block
    width 100%
    text-align center
    padding 1rem 0
  }
  
  .whyus {

    &List__item {
      width 90%
    }
    
    &Info {
      margin-bottom 2rem

      &__logo {
        display block
        margin 0 auto 4rem
        
        &:after {
          right 4rem
          height 100%
          top 94%
          transform rotate(90deg)
        }
      }
      
      &__text {
        display block
        margin 0 auto
        font-size 1.1rem
      }
    }
    
    .whyusList__name {
      font-size 1.2rem
    }
  }
  
  .callToAction {
    input {
      font-size 1rem
    }
  }
  
  .howtowork {

    .howtoworkList__text {
      font-size 1.2rem
    }
  }
  
  .offerList {

    .owl-prev {
      left -2rem
    }
    
    .owl-next {
      right -2rem
    }
  }
  
  .owl-prev {
    left 0
  }
  
  .owl-next {
    right 0
  }
}