.reviews {
  
  &List {
    font-size 0
    text-align center
    display block
    padding 0

    &__item {
      font-size 1rem
      display inline-block
      text-align center
      margin-right ($margin * 8)
      
      &:last-of-type {
        margin-right 0
      }
    }
    
    &__image {
      width remify(258px)
      height remify(357px)
      display inline-block
      text-align center
      position relative
      
      &:before {
        content ''
        position absolute
        top remify(-12px)
        left remify(-12px)
        bottom remify(-12px)
        right remify(-12px)
        background-image url('/static/images/assets/reviews/border.png')
        background-size 100% 100%
        background-repeat no-repeat
        pointer-events none
      }
    }
  }
}