mixin reviews(data)
  div.reviews.block#reviews
    div.container
      h2.subtitle Отзывы наших клиентов

      ul.reviewsList
        li.reviewsList__item
          a.reviewsList__image.zoom.fancybox(href='/static/images/assets/reviews/1.jpg' rel='reviews')
            img(src='/static/images/assets/reviews/1.jpg')
        li.reviewsList__item
          a.reviewsList__image.zoom.fancybox(href='/static/images/assets/reviews/3.jpg' rel='reviews')
            img(src='/static/images/assets/reviews/3.jpg')
        li.reviewsList__item
          a.reviewsList__image.zoom.fancybox(href='/static/images/assets/reviews/2.jpg' rel='reviews')
            img(src='/static/images/assets/reviews/2.jpg')