.trust {
  
  &List {
    
    .owl-wrapper {
      display flex !important
      align-items center
    }

    &__item {
      display block
      text-align center
    }
    
    &__image {
      width 14rem
      display inline-block
      text-align center
    }
  }
}