mixin trust(data)
  div.trust.block#sertificates
    div.container
      h2.subtitle Нам можно доверять

      ul.trustList.owl-3
        each item in [3, 4, 5, 1, 2, 6]
          li.trustList__item
            a.trustList__image.fancybox.zoom(href='/static/images/assets/trust/image.jpg' rel='certificates')
              img(src='/static/images/assets/trust/#{item}.jpg')
