mixin header(data) 
  header.header
    div.container
      div.header__item.header_left
        div.header__logo
          img(src='/static/images/assets/header/logo.png')
      div.header__item.header_center
        nav.headerNavigation#headerNavigation
          li.headerNavigation__item
            a.headerNavigation__link(href='#offer') Наши предложения
          li.headerNavigation__item
            a.headerNavigation__link(href='#about') О нас
          li.headerNavigation__item
            a.headerNavigation__link(href='#sertificates') Сертификаты
          li.headerNavigation__item
            a.headerNavigation__link(href='#reviews') Отзывы
          li.headerNavigation__item
            a.headerNavigation__link(href='#partners') Партнеры
          li.headerNavigation__item
            a.headerNavigation__link(href='#contacts') Контакты

          div.headerNavigationClose#closeButton

        form.form.form_vertical(method='post')
          input(type='hidden' name='formName' value='headerForm')
          label.form__label
            input.form__field(type='text' name='name' placeholder='Ваше имя')
          label.form__label
            input.form__field.form__field_phone(type='text' name='phone' placeholder='+7 (___) ___-__-__')
          div.form__label
            button.button.form__submit(type='submit') Заказать звонок

      div.header__item.header_right
        a.header__phone(href='tel:+7(863)2403584') +7 (863) 240-35-84
        p.header__address Ростов-на-Дону, ул. Пушкинская, 117
        p.header__time пн-пт с 9:00 до 18:00

      div.headerButton#headerButton
        div.headerButton__box