.header {
  font-size 0
  height remify(95px)
  background-color #fff
  position relative
  
  .container {
    display flex
    flex-direction row
    position relative
  }

  &__item {
    font-size 1rem
    display inline-block
    vertical-align middle
    display flex
    flex-direction column
    justify-content center
  }
  
  &_left {
    width 20%
  }
  
  &_center {
    width 54%
  }
  
  &_right {
    width 26%
    text-align right
  }
  
  &__logo {
    width remify(140px)
    height remify(75px)
    display block
  }
  
  &Button {
    display none
    position absolute
    right 0
    top 2rem
    transition 0.3s
    height 2rem
    width 2.5rem
    cursor pointer
    
    &:hover .headerButton__box {
      &:before {
        top 0.7rem
      }
      
      &:after {
        top -0.7rem
      }
    }
    
    &__box {
      width 100%
      height 2px
      background-color $mainColor
      position absolute
      top 1rem
      left 0
      
      &:after,
      &:before {
        content ''
        position absolute
        width 100%
        height 2px
        background-color $mainColor
        left 0
        transition 0.3s
      }
      
      &:after {
        top -0.56rem
      }
      
      &:before {
        top 0.5rem
      }
    }
  }
  
  &Navigation {
    font-size 0
    display flex
    justify-content space-between
    position relative
    margin-bottom ($margin * 1.5)
    
    &__item {
      font-size remify(14px)
      display inline-block
      vertical-align middle
      margin 0 $margin
      
      &:first-of-type {
        margin-left 0
      }
      
      &:last-of-type {
        margin-right 0
      }
    }
    
    &__link {
      // color $textColor
      color #757575
      transition 0.3s
      position relative
      font-weight 300
      
      &:hover {
        color $mainColor
        
        &:after {
          width 100%
          left 0
        }
      }
      
      &:after {
        content ''
        position absolute
        bottom -1px
        width 0
        left 50%
        height 1px
        background-color $mainColor
        transition 0.3s
      }
    }
    
    &Close {
      position absolute
      top 1rem
      right 1rem
      width 3rem
      height 3rem
      display none
      cursor pointer
      
      &:before,
      &:after {
        content ''
        position absolute
        top 1.3rem
        left 0
        width 100%
        height 0.1875rem
        background-color $mainColor
      }
      
      &:after {
        transform rotate(45deg)
      }
      
      &:before {
        transform rotate(-45deg)
      }
    }
  }
  
  .form {
    display flex
    justify-content space-between

    &__label {

    }
    
    &__field {
      height remify(36px)
      width remify(195px)
    }
    
    &__submit {
      height remify(36px)
      width remify(195px)
      line-height 1
    }
  }
  
  &__phone {
    color $textColor
    font-weight 400
    font-size remify(20px)
    display block
    margin-bottom ($margin * 0.7)
    line-height 1
  }
  
  &__address {
    font-size remify(14px)
    font-weight 100
    color #757575
    margin-bottom ($margin * 0.7)
    line-height 1
  }
  
  &__time {
    font-size remify(14px)
    margin-bottom 0
    line-height 1
  }
}
