mixin contacts(data)
  div.contacts#contacts
    div.container
      h2.subtitle Как нас найти
      
      div.contacts__item
        div.contactsInfo
          p Ростов-на-Дону, ул. Пушкинская, 117 
            span пн-пт с 9:00 до 18:00
      div.contacts__item
        div.contactsCallback
          a.contactsCallback__phone(href='tel:+78632403584') +7 (863) 240-35-84
          br
          a.contactsCallback__order.popup-fancy(href='#popup') Заказать обратный звонок
      
    div.contactsMap#contactsMap
  script.
    var icon = {
      preset: 'islands#icon',
      iconColor: '#f33340'
    }

    var placemark1 = {
      coords : [47.22589657426225,39.71592900000001],
      hintContent : '',
      balloonContentHeader : 'Адрес нашего офиса',
      balloonContentBody : 'Ростов-на-Дону, ул. Пушкинская, 117'
    }  
        
    var contactsMapOptions = [{
      idMap: 'contactsMap',
      zoom: 16,
      center: [47.22589657426225,39.71592900000001],
      placemarks: [placemark1],
      icon: icon
    }];
          