.contacts {
  font-size 0
  
  &__item {
    width 50%
    font-size 1rem
    display inline-block
    vertical-align middle
    text-align center
  }
  
  &Info {
    display inline-block
    text-align left
    
    p {
      line-height 1.5
      font-weight 100
      
      span {
        font-weight 400
        display block
      }
    }
  }
  
  &Callback {
    display inline-block
    text-align right
    
    &__phone {
      font-weight 400
      font-size remify(20px)
      color $textColor
      margin-bottom 0
      line-height 1
    }
    
    &__order {
      font-size remify(12px)
      text-transform uppercase
      color $mainColor
      border-bottom 1px dashed $mainColor
      font-weight 400
      margin-bottom 0
      line-height 1
    }
  }
  
  &Map {
    height remify(400px)
    width 100%
    display block
    margin-top remify(80px)
  }
}