.mainBlock {
  height remify(595px)
  background-image url('/static/images/assets/mainBlock/bg.jpg')
  background-repeat no-repeat
  background-size cover
  color #fff
  font-size remify(40px)
  
  .container {
    display flex
    justify-content center
    flex-direction column
  }
  
  h1 {

  }
  
  p {
    margin-bottom ($margin * 12)
    line-height 1.25
  }
  
  &__button {
    padding 1.1rem 0
    letter-spacing 2px
    width remify(300px)
    text-align center
  }
}