mixin mainBlock(data)
  div.mainBlock
    div.container
      h1 Продажа земельных участков
      p под застройку многоэтажных <br>зданий в Ростове
      a.mainBlock__button.button.popup-fancy(href='#popup') Подобрать участок