.howtowork {
  background-color #f5f5f5
  
  &List {
    text-align center
    font-size 0
    display block
    padding 0
    display flex
    flex-direction row
    justify-content space-between

    &__item {
      width remify(150px)
      position relative
      font-size 1rem
      display inline-block
      vertical-align top
      margin 0 3rem
      transition 0.3s
      opacity 0

      &.animated {
        opacity 1
      }
      
      &:first-of-type {
        margin-left 0
      }
      
      &:last-of-type {
        margin-right 0
        
        &:after {
          display none
        }
      }
      
      &:after {
        content ''
        position absolute
        right remify(-110px)
        background-repeat no-repeat
        width remify(120px)
        height remify(16px)
        background-size 100% 100%
      }
      
      &:nth-of-type(2n):after {
        top 37%
        background-image url('/static/images/assets/howtowork/arrow-top.png')
      }
      
      &:nth-of-type(2n + 1):after {
        top 56%
        background-image url('/static/images/assets/howtowork/arrow-down.png')
      }
    }
    
    &__number {
      color $mainColor
      font-weight 900
      display block
      text-align center
      font-size remify(48px)
      margin-bottom $margin * 0.7
      line-height 1
    }
    
    &__step {
      font-weight 900
      font-size remify(24px)
      display block
      text-align center
      text-transform uppercase
      line-height 1
    }
    
    &__line {
      height 3px
      background-color $mainColor
      width remify(80px)
      display inline-block
      margin ($margin * 2) 0 $margin
    }
  }
}