mixin howtowork(data)
  div.howtowork.block
    div.container
      h2.subtitle Как мы работаем 

      ul.howtoworkList
        li.howtoworkList__item
          span.howtoworkList__number 1
          span.howtoworkList__step Шаг
          div.howtoworkList__line
          div.howtoworkList__text
            p Обработка заявки

        li.howtoworkList__item
          span.howtoworkList__number 2
          span.howtoworkList__step Шаг
          div.howtoworkList__line
          div.howtoworkList__text
            p Консультация

        li.howtoworkList__item
          span.howtoworkList__number 3
          span.howtoworkList__step Шаг
          div.howtoworkList__line
          div.howtoworkList__text
            p Встреча

        li.howtoworkList__item
          span.howtoworkList__number 4
          span.howtoworkList__step Шаг
          div.howtoworkList__line
          div.howtoworkList__text
            p Заключение предварительного договора

        li.howtoworkList__item
          span.howtoworkList__number 5
          span.howtoworkList__step Шаг
          div.howtoworkList__line
          div.howtoworkList__text
            p Сопровождение и завершение сделки