mixin partners(data)
  div.partners.block#partners
    div.container
      h2.subtitle Наши партнеры

      ul.partnersList.owl-5
        li.partnersList__item
          div.partnersList__image
            img(src='/static/images/assets/partners/1.jpg')
        li.partnersList__item
          div.partnersList__image
            img(src='/static/images/assets/partners/2.png')
        li.partnersList__item
          div.partnersList__image
            img(src='/static/images/assets/partners/3.png')
        li.partnersList__item
          div.partnersList__image
            img(src='/static/images/assets/partners/4.png')
        li.partnersList__item
          div.partnersList__image
            img(src='/static/images/assets/partners/5.jpg')