.partners {
  
  &List {
    display block
    padding 0
    
    .owl-wrapper {
      display flex !important
      align-items center
    }
    
    &__item {
      display block
    }
    
    &__image {
      text-align center
    }
  }
}