mixin callToAction(data, bg)
  div.callToAction(style='background-image: url(/static/images/assets/callToAction/cta-#{bg}.jpg)')
    div.container
      h2.callToAction__title Заполните форму
      p и получите
        span.callToAction__stroke  5 персональных предложений <br>
        | под Ваши задачи

      form.form.form_vertical(method='post')
        input(type='hidden' name='formName' value='callToAction-#{bg}')
        label.form__label
          input.form__field(type='text' name='name' placeholder='Ваше имя')
        label.form__label
          input.form__field.form__field_phone(type='text' name='name' placeholder='+7 (___) ___-__-__')
        label.form__label
          input.form__field(type='text' name='name' placeholder='Ваш E-Mail')
        div.form__label
          button.form__submit.button(type='submit') Оставить заявку