.callToAction {
  height remify(331px) 
  background-repeat no-repeat
  background-size cover
  color #fff
  
  .container {
    display flex
    flex-direction column
    justify-content center
    align-items center
  }

  &__title {
    font-size remify(36px)
    display block
    text-align center
    text-transform uppercase
    font-weight 400
    margin-bottom $margin
    line-height 1
  }
  
  p {
    display block
    text-align center
    font-size remify(20px)
    letter-spacing 1px
    font-weight 100
    margin-bottom 0
  }
  
  &__stroke {
    font-weight 400
  }
  
  .form {
    margin-top ($margin * 4)
    text-align center
    
    &__label {
      margin-right ($margin * 2)
      
      &:last-child {
        margin-right 0
      }
    }
    
    &__field {
      width remify(210px)
      padding 0 2.3rem 0 1rem
      
      &:focus {
        border-color #ccc
      }
    }
    
    &__submit {
      width remify(210px)
    }
  }
}